@*@model IEnumerable<MarriageAgency.Models.Client>*@
@model PageViewModel<MarriageAgency.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Клиент</h1>

<p>
    <a asp-action="Create">Добавить нового</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по Знаку: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-light" />
            <a asp-action="Index">Назад к полному списку</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FirsLastMidName)*@
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(modelItem => item.FirsLastMidName)</a>*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(modelItem => it.Age)*@
                Возраст
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Gender)*@
                Пол
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DateofBirth)*@
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.DateofBirth)</a>*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Height)*@
                Рост
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Weight)*@
                Вес
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Children)*@
                Дети
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MaritalStatus)*@
                Семейный статус
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.BadHabits)*@
                Привычки
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Hobby)*@
                Хобби
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Описание
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ZodiacSign)*@
                Знак
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Relation)*@
                Отношения
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nationalitie)*@
                Националь- ность
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Addres)*@
                Адресс
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Phone)*@
                Телефон
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Passport)*@
                Пасспорт
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirsLastMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Children)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BadHabits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hobby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ZodiacSign.ZodiacSignID)*@
                    @Html.DisplayFor(modelItem => item.ZodiacSign.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Relation.RelationID)*@
                    @Html.DisplayFor(modelItem => item.Relation.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Nationalitie.NationalID)*@
                    @Html.DisplayFor(modelItem => item.Nationalitie.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientID">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.ClientID">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.ClientID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    Предыдущий
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    Следующий
</a>
