@*@model IEnumerable<MarriageAgency.Models.Employee>*@
@model PageViewModel<MarriageAgency.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Сотрудник</h1>

<p>
    <a asp-action="Create">Добавить нового</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по должности: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-light" /> |
            <a asp-action="Index">Назад к полному списку</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-sortOrder="@ViewData["NameSortParm"]" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО
                </a>
            </th>
            <th>Возраст</th>
            <th>Пол</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Пасспорт</th>
            <th>Должность</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirsLastMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.NamePosition)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeID">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.EmployeeID">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    Предыдущий
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    Следующий
</a>

@if (Model.PageIndex > 0)
{
    <br />
    <b>Страница @Model.PageIndex из @Model.TotalPages</b>
}