@model PageViewModel<MarriageAgency.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Список Услуг ДО: < <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /> ₽
            Или ОТ: > <input type="text" name="SearchString2" value="@ViewData["currentFilter2"]" /> ₽
            <input type="submit" value="Поиск" class="btn btn-light" />
            <a asp-action="Index">Назад к полному списку</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-sortOrder="@ViewData["DateSortParm"]" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CostSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Стоимость
                </a>
            </th>
            <th>Клиент</th>
            <th>Сотрудник</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.Clients.FirsLastMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirsLastMidName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiseID">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiseID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiseID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   class="btn btn-light @prevDisabled">
    Предыдущий
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   class="btn btn-light @nextDisabled">
    Следующий
</a>

@if (Model.PageIndex > 0)
{
    <br />
    <b>Страница @Model.PageIndex из @Model.TotalPages</b>
}

